<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" th:href="@{/resources/css/main.css}" /> -->
    <meta charset="utf-8">
    <title>Liste des animaux</title>
</head>

<body>
    <table class="mainTable">
        <thead>
            <h1>Liste des animaux</h1>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Sexe</th>
            <button type="button" onclick="window.location='/animals/create'">➕ Ajouter un animal</button>
        </thead>
        <tbody>
            <tr th:each="animal : ${animals}">
                <td th:text="${animal.name}"></td>
                <td th:text="${animal.color}"></td>
                <td th:text="${animal.sex}"></td>
                <td><a th:href="@{'/animals/' + ${animal.id}}">Détails</a></td>
                <td><a th:href="@{'/animals/delete/' + ${animal.id}}">Supprimer</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>