<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" th:href="@{/resources/css/main.css}" /> -->
    <meta charset="utf-8">
    <title>Liste des personnes</title>
</head>

<body>
    <table class="mainTable">
        <thead>
            <h1>Liste des personnes</h1>
            <th>Nom</th>
            <th>Prénom</th>
            <button type="button" onclick="window.location='/person/create'">➕ Ajouter une personne</button>
        </thead>
        <tbody>
            <tr th:each="personItem : ${persons}">
                <td th:text="${personItem.firstname}">test</td>
                <td th:text="${personItem.lastname}">test</td>
                <td><a th:href="@{'/person/' + ${personItem.id}}">Détails</a></td>
                <td><a th:href="@{'/person/delete/' + ${personItem.id}}">Supprimer</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>