<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" th:href="@{/resources/css/main.css}" /> -->
    <meta charset="utf-8">
    <title>Ajout</title>
</head>

<body>
    <h1>Nouvelle personne</h1>

    <form th:object="${person}" th:action="@{/persons}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="firstname">First Name : </label>
            <input type="text" th:field="*{firstname}" id="firstname">
            <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Error</span>
        </div>
        <div>
            <label for="lastname">Last Name : </label>
            <input type="text" th:field="*{lastname}" id="lastname">
            <span th:if="${#fields.hasErrors('lastname')}" th:errors="lastname">Error</span>
        </div>
        <div>
            <label for="lastname">Age : </label>
            <input type="text" th:field="*{age}" id="age">
        </div>
        <input type="submit" class="button" value="Sauver"/>
		<input type="button" class="button" value="Retour" onclick="window.location='/persons'"/>
    </form>
</body>
</html>